{% csrf_token %}
<div class="mb-3">
    <p><strong>Nombre de usuario actual:</strong> {{user.username|upper}}</p>
</div>
<div class="mb-3">
    <p><strong>Correo electrónico actual:</strong> {{user.email|upper}}</p>
</div>
<div class="mb-3"> 
    <label for="id_username" class="form-label">Ingresa un nuevo nombre:</label>
    {{ form.username|add_class:"form-control" }}
</div>
<div class="mb-3">
    <label for="id_email" class="form-label">Ingresa un nuevo correo electrónico:</label>
    {{ form.email|add_class:"form-control" }}
</div>

